{% extends "core/base.html" %}<!-- las siguientes 3 lineaas permiten heredar el contenido de la pagina base-->
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ProOnliPc Bootstrap Template</title>
</head>

<body>
  {% block body %} 
  <div class="portfolio">
      <div class="container">
        <div class="row">
          <div class="service">
            <div class="col-md-6 col-md-offset-3">
              <div class="text-center">
                <h2>Servicios Ofrecidos</h2>
                <p>Acontinuacion se muestra algunos de nuestros servicios <br>
                </p>
              </div>
              <hr>
            </div>
          </div>
        </div>
        <div class="container" style="text-align: center; display:flex; justify-content:center">
          {% for s in servicios %}
          <br>
            <div class="panel panel-default">
              <a href="{{s.imagen.url}}" class="flipLightBox">
                <img class="img-fluid" src="{{s.imagen.url}}" alt=""><br>
              </a>
              servicio: {{s.nom}} <br>
              Precio: {{s.precio}} <br>
              Descripcion: {{s.descripcion}} <br>
            </div>

          {% endfor %}
        </div>
    </div>
  </div>
  {%endblock%}
</body>

</html>
{% endblock %}